github "ZipArchive/ZipArchive" == 2.1.1
github "cxa/MenuItemKit" == 3.0.0
github "alexpopov/ZFDragableModalTransition" "merge-carthage-into-zoonooz"
github "tadija/AEXML" == 4.3.3
github "ArtSabintsev/FontBlaster" "master"
